:root {
  --primary-text-color: #212121;
  --accents: #2196f3;
  --hero-and-footer-color: #ffffff;
  --contacts-color: #757575;
}

.page {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  border: 1px solid #ececec;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section.padding {
  padding-bottom: 0px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.logo,
.logo-down {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 90px;
  font-style: normal;
}

.logo__web,
.footer__logo__web-down {
  color: var(--accents);
  font-style: normal;
}

.logo-footer {
  color: var(--hero-and-footer-color);
}

.logo-down {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .logo-down {
    margin-right: 0;
  }
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .head {
    padding: 16px 10px 16px 15px;
  }
}
@media screen and (min-width: 768px) {
  .head {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .head {
    width: 1200px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 302px;
    color: var(--black);
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    color: var(--primary-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 88px;
    gap: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 302px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    margin-bottom: 32px;
  }
  .site-nav__link :last-child {
    margin-bottom: 0;
  }
}
.site-nav__links {
  font-weight: 500;
  position: relative;
  color: var(--primary-text-color);
}

.site-nav__links:hover,
.site-nav__links:focus {
  color: var(--accents);
}

.site-nav__links--current {
  color: var(--accents);
}

@media screen and (min-width: 768px) {
  .site-nav__links {
    padding: 32px 0;
  }
  .site-nav__links--current {
    color: var(--accents);
  }
  .site-nav__links--current::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 4px;
    content: " ";
    background-color: var(--accents);
    border-radius: 2px;
  }
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .header-contacts__contacts {
    color: var(---contacts-color);
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    margin-left: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header-contacts__item:first-child {
    font-size: 24px;
    color: var(--contacts-color);
  }
  .header-contacts__item:last-child {
    font-size: 34px;
    color: var(--accents);
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    padding: 5px 0;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: var(--contacts-color);
    transition-timing-function: var(--contacts-color);
    color: var(--contacts-color);
  }
  .header-contacts__contacts:hover,
.header-contacts__contacts:focus {
    color: var(--accents);
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__contacts {
    padding: 32px 0;
    color: var(--contacts-color);
  }
}
.header-contacts__envelop {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header-contacts__envelop {
    display: none;
  }
}
.menu-button {
  margin-left: auto;
  border: none;
  padding: 0;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover .icon-menu {
  cursor: pointer;
  fill: var(--accents);
}

.menu-container {
  font-size: 40px;
  display: block;
  background-color: white;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    width: viewport;
    left: 0;
    top: 0;
    right: 0;
    height: 796px;
    padding: 48px 40px;
  }
  .menu-container.is-open {
    display: block;
    z-index: 1;
    overflow-y: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.close-menu-button {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background-color: transparent;
}

.close-menu-button:hover {
  fill: var(--accents);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .close-menu-button {
    display: none;
  }
}
.icon-menu {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .list-of-socialwebs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: var(--accent-color);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 64px;
    width: 357px;
  }
}
@media screen and (max-width: 767px) {
  .list-of-socialwebs li {
    display: block;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding: 10px;
    text-align: center;
  }
  .list-of-socialwebs li:hover {
    cursor: pointer;
    color: var(--accents);
  }
  .list-of-socialwebs li:first-child {
    padding-left: 0;
  }
  .list-of-socialwebs li:last-child {
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .list-of-socialwebs {
    display: none;
  }
}
.hero {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-and-footer-color);
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero-section {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section__button {
  color: var(--hero-and-footer-color);
  background-color: var(--accents);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__button:hover {
  background-color: #188ceb;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
  width: 448px;
}
@media screen and (max-width: 767px) {
  .modal__form {
    width: 370px;
  }
}

.modal__form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal__form-field label {
  margin-bottom: 4px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal__form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field input:focus,
.modal__form-field input:hover {
  border: 1px solid var(--accents);
}

.modal__icon {
  position: absolute;
  top: 29px;
  left: 10px;
}

.modal__form-field input:focus ~ .modal__icon,
.modal__form-field input:hover ~ .modal__icon {
  fill: var(--accents);
}

.modal__form-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 120px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field textarea:hover,
.modal__form-field textarea:focus {
  border: 1px solid var(--accents);
}

.field {
  margin-top: 20px;
  margin-bottom: 30px;
}

.field__accept-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 14px;
}
@media screen and (max-width: 767px) {
  .field__accept-label {
    font-size: 12px;
    padding-left: 0;
  }
}

.field__umovu {
  color: var(--accents);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-left: 5px;
}

.button-modal {
  color: var(--hero-and-footer-color);
  background-color: var(--accents);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 52px;
  text-align: center;
  margin: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover {
  background-color: #188ceb;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  padding: 0;
}

.close-button__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__close svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__close:hover,
.close-button__close:focus {
  border: 1px solid var(--accents);
}

.close-button__close:hover svg,
.close-button__close:focus svg {
  fill: var(--accents);
}

.field__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field__icon-check {
  display: inline-block;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}

.field__checkbox:checked + .field__icon-check {
  border: 2px solid var(--accents);
  background-color: var(--accents);
  background-image: url("../images/icons.svg");
}

.offers__antenna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .offers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.offers_item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .offers_item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .offers_item {
    width: calc((100% - 90px) / 4);
  }
}

.offers__name {
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .offers__name {
    text-align: left;
  }
}

.offers__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-color);
  margin-top: 10px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work .item + .item {
  margin-left: 30px;
}

.work__computer {
  position: relative;
}

.work__images {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .works {
    display: none;
  }
}
.work__computer-box {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

.work__computer-font {
  text-align: center;
  font-style: bold;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.section.team {
  background: #f5f4fa;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-list {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team-list .team__items + .team__items {
  margin-left: 10px;
}

.team__items {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  background-color: var(--hero-and-footer-color);
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .team__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__items {
    width: calc((100% - 90px) / 4);
  }
}

.team__title {
  padding: 30px 0;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 10px;
  text-align: center;
}

.team__profession {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--contacts-color);
}

.team__web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team__social-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social {
  fill: #afb1b8;
}

.team__social:focus,
.team__social:hover {
  fill: #ffffff;
}

.team__social-web:hover,
.team__social-web:focus {
  border-radius: 50%;
  background-color: var(--accents);
}

.team__social-web:hover svg,
.team__social-web:focus svg {
  fill: var(--hero-and-footer-color);
}

.team_image {
  display: block;
  max-width: 100%;
  width: 100%;
}

.clients {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 50px;
  }
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__box {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__box {
    width: 170px;
  }
}

.clients__box:focus,
.clients__box:hover {
  border: 1px solid var(--accents);
}

.clients__box:focus svg,
.clients__box:hover svg {
  fill: var(--accents);
}

.clients__icon {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__icon:focus,
.clients__icon:hover {
  fill: var(--accents);
}

.clients__link {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttons__portfolio {
  color: var(--primary-text-color);
  background-color: F5F4FA;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  text-align: center;
  border: none;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__link {
  margin-right: 8px;
}

.buttons__link:last-child {
  margin-right: 0px;
}

.buttons__portfolio:hover,
.buttons__portfolio:focus,
.buttons__portfolio--current {
  color: var(--hero-and-footer-color);
  background-color: var(--accents);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.footers {
  background: #2f303a;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.foot .blocks + .blocks {
  margin-left: 90px;
}
@media screen and (max-width: 767px) {
  .foot .blocks + .blocks {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-common {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 61px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 768px) {
  .footer-common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer__contacts {
  color: var(--hero-and-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  padding: 0px;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accents);
}

.footer__contacts-grey {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts-grey:hover,
.footer__contacts-grey:focus {
  color: var(--accents);
}

.footer__adress {
  font-style: normal;
  margin-top: 20px;
}

.join {
  padding-bottom: 20px;
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .join {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    padding-top: 12px;
  }
}

.join-us {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.join__webs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .join__webs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join__webs .join__soc + .join__soc {
  margin-left: 10px;
  background-position: center;
}

.join__social-webs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__soc {
  fill: #ffffff;
  padding-top: 16px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__social-icon {
  fill: #ffffff;
}

.join__social-webs:hover,
.join__social-webs:focus {
  border-radius: 50%;
  background-color: var(--accents);
  border: none;
}

.footer-form {
  text-align: center;
}
@media screen and (min-width: 1199px) {
  .footer-form {
    width: 570px;
    height: 86px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
    outline: none;
  }
}
@media screen and (min-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 12px;
  }
}

.subscribe__sub {
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .subscribe__sub {
    text-align: center;
    outline: none;
  }
}

.footer-form__field input {
  width: 358px;
  background: #2f303a;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer-form__field input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__field input {
    width: 358px;
    line-height: 1.25;
  }
}

.footer-form__field::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__field::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  color: var(--hero-and-footer-color);
  background-color: var(--accents);
  cursor: pointer;
  margin: 20px auto 0 auto;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
    margin-right: 0;
    margin-top: 0;
  }
}

.footer-form__button:hover {
  background-color: #188ceb;
}

.footer-form__send {
  margin-left: 10px;
  padding: 0;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 50px;
  }
}

.portfolio .item:nth-child(3n) {
  margin-right: 0px;
}

.item.margin {
  margin-bottom: 0px;
}

.work-names__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding-bottom: 4px;
}

.portfolio__box {
  color: inherit;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio__box {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__box {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__box:hover,
.portfolio__box:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 0px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 0px 1px rgba(0, 0, 0, 0.12);
}

.work-names {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: none;
  display: block;
}

.technocryack {
  position: relative;
  overflow: hidden;
}

.technocryack__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.technocryack__text {
  text-align: left;
  font-style: bold;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.portfolio__box:hover .technocryack__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-names__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=main.css.map */